---
title: Advanced Data Types
type: submodule
---

# Advanced Data Types

## Tuples

In [1]:
tup1 = (0,1)
tup1

(0, 1)

In [2]:
tup2 = (3,-2)
tup2

(3, -2)

In [3]:
tup3 = tuple(range(5))
tup3

(0, 1, 2, 3, 4)

tuple of tuples

In [4]:
tup4 = (tup2,tup1)
tup4

((3, -2), (0, 1))

you can use the sorted method to create a sorted list of tuples

In [5]:
sorted(tup4)

[(0, 1), (3, -2)]

you can also pick how you sort based on a lambda method

In [6]:
sorted(tup4,key=lambda x:x[1])

[(3, -2), (0, 1)]

accessing tuples

In [7]:
tup4[0]

(3, -2)

In [8]:
tup4[0][1]

-2

## Lists
Construct a list

In [9]:
list1 = [-1,1,2,3,4]
list1

[-1, 1, 2, 3, 4]

Methods: use tab to autocomplete

In [10]:
list1.append(5)
list1

[-1, 1, 2, 3, 4, 5]

In [11]:
list1.extend([6,7,8,9,0b101101,11.0])
list1

[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 11.0]

In [12]:
result = list1.pop(0)
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 11.0]

In [13]:
list1.insert(0,14)
list1

[14, 1, 2, 3, 4, 5, 6, 7, 8, 9, 45, 11.0]

In [14]:
ii = list1.count(1)
ii

1

In [15]:
ii=list1.index(7)
ii

7

In [16]:
list1.remove(7)
list1

[14, 1, 2, 3, 4, 5, 6, 8, 9, 45, 11.0]

In [17]:
sorted(list1)

[1, 2, 3, 4, 5, 6, 8, 9, 11.0, 14, 45]

In [18]:
list1

[14, 1, 2, 3, 4, 5, 6, 8, 9, 45, 11.0]

In [19]:
list1.sort()
list1

[1, 2, 3, 4, 5, 6, 8, 9, 11.0, 14, 45]

In [20]:
#list1.clear()

Accessing the list

In [21]:
list1

[1, 2, 3, 4, 5, 6, 8, 9, 11.0, 14, 45]

In [22]:
list1[0]

1

In [23]:
list1[2:4]

[3, 4]

In [24]:
list1[:4]

[1, 2, 3, 4]

In [25]:
list1[4:]

[5, 6, 8, 9, 11.0, 14, 45]

In [26]:
list1[::2]

[1, 3, 5, 8, 11.0, 45]

In [27]:
list1[-1::-1]

[45, 14, 11.0, 9, 8, 6, 5, 4, 3, 2, 1]

In [28]:
#list1.clear()

understanding types

In [29]:
print(isinstance(list1,list))

True

In [30]:
list1

[1, 2, 3, 4, 5, 6, 8, 9, 11.0, 14, 45]

# Dicts

In [31]:
dict1 = {}

In [32]:
dict1['key1']=123.45

In [33]:
dict1['coordinate 1'] = tup1

In [34]:
dict1['coordinate 2'] = tup2

In [35]:
dict1['all_coordinates'] = list1

In [36]:
dict1

{'key1': 123.45,
 'coordinate 1': (0, 1),
 'coordinate 2': (3, -2),
 'all_coordinates': [1, 2, 3, 4, 5, 6, 8, 9, 11.0, 14, 45]}

In [37]:
dict1['coordinate 1']

(0, 1)

methods

In [38]:
dict1.items()

dict_items([('key1', 123.45), ('coordinate 1', (0, 1)), ('coordinate 2', (3, -2)), ('all_coordinates', [1, 2, 3, 4, 5, 6, 8, 9, 11.0, 14, 45])])

In [39]:
dict1.keys()

dict_keys(['key1', 'coordinate 1', 'coordinate 2', 'all_coordinates'])

In [40]:
dict1.values()

dict_values([123.45, (0, 1), (3, -2), [1, 2, 3, 4, 5, 6, 8, 9, 11.0, 14, 45]])

## Sets

In [41]:
a = set([1,2,3])
a

{1, 2, 3}

In [42]:
b=set([2,3,4,3,2,2,3,2,4,2,3,4])
b

{2, 3, 4}

In [43]:
a&b

{2, 3}

In [44]:
a|b

{1, 2, 3, 4}

## Strings & Formatting

In [45]:
float1 = 12.345

In [46]:
'the value of the first element is {0:07.1f}, as an int: {1:07d}'.format(float1,int(float1))

'the value of the first element is 00012.3, as an int: 0000012'